header {
       background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images/main-bg.jpg);
       background-size: cover;
       background-position: center top;
       background-attachment: fixed;
}


#sns-links {
       background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.200)), url(images/sns-bg.jpg);
       background-size: cover;
       background-position: center
       backround-attachment fixed;
}

#news {
       background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(images/news-bg.jpg);
       background-size: cover;
       background-position: center;
}